
# directories (by name)

/.bundle/
/.svn/
/.yardoc/

/_yardoc/

/build/
/build-iPhoneOS/
/build-iPhoneSimulator/
/coverage/
/doc/
/rdoc/
/lib/bundler/man/
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle/
/InstalledFiles/


# directories (by pattern)


# files (by name)

.DS_Store
.bundle
.config
.repl_history
.rvmrc
.yardoc

_yardoc

Gemfile.lock
InstalledFiles
coverage
pkg
rdoc

/spec/examples.txt


# files (by pattern)

.dat*

*~
*.*~
*.b64
*.bridgesupport
*.gem
*.rbc
*.scc
*.suo
*.swp
*.tmp
*.zip

